* {
  background-color: beige;

}

.app {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-gap: 10px;
  margin: 15px;
}

.navbar {
  grid-column-start: 2;
  grid-column-end: 4;
  border: 5px solid darkgray;
  padding: 5px;
}

.navbar > li {
  list-style: none;
}

.regions {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  border: 5px solid darkgray;
  margin-left: 10px;
}

.region-list {
  list-style: none;
}

.region-list-item {
  display: flex;
  align-items: center;
}

.gen-icon {
  margin-right: 15px;
}

.detail-box-dynamic{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 5px solid darkgray;
  padding: 10px;
}