* {
  background-color: rgb(78, 60, 23);

}

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-gap: 10px;
  margin: 15px;
  background-image: url('power.png');
  background-size: cover;
}

.navbar {
  grid-column-start: 2;
  grid-column-end: 4;

  border: 5px solid white;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
}

.nav-list{
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.regions {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  border: 5px solid white;
  margin-left: 10px;
}

.region-list {
  list-style: none;
}

.region-list-item {
  display: flex;
  align-items: center;
}

.region-list-item:hover .region-link:hover {
  background: rgb(197, 163, 100);
  font-size: 1.2em;
}

.region-link {
  text-decoration: none;
  color: white;
}


.gen-icon {
  margin-right: 15px;
}

.gen-icon:hover {
  opacity: 0.6;
  background-color: #CDD4BF;

  
}

.detail-box-dynamic{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 30px;
  border: 5px solid white;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.int-index[int-index="Intensity Index: very low"]:after {
  color: orange;
 }